<div style="color: #1b1b1b; padding: 15px; border: 2px solid #d8d8d8; border-radius: 6px;">
    <div>
        <h1>Educación</h1>
    </div>
    <div style="color: #1b1b1b; padding: 15px; border: 2px solid #d8d8d8; border-radius: 6px;">
        <h3>Formación académica</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4>Terciaria</h4>
                    <img src="assets/fotoisteec.jpg" alt="" id="isteec">
                    <br>
                    <br>   
                    <div>
                        <p><strong>2012 - Incompleta</strong></p>
                    </div>
                </div>
                <div class="col">
                    <h4>Secundaria</h4>
                    <img src="assets/cens.jpg" alt="" id="cens">
                    <br>
                    <br>
                    <div>
                        <p><strong>2017 - Completa</strong></p>
                    </div>
                </div>
                <div class="col">
                    <h4>Primaria</h4>
                    <img src="assets/cichitti.jpg" alt="" id="cichi">
                    <br>
                    <br>
                    <div>
                       <p><strong>2001 - Completa</strong></p>
                    </div>
                </div>  
            </div>

        </div>

    </div>
    <div style="color: #1b1b1b; padding: 15px; border: 2px solid #d8d8d8; border-radius: 6px;">
        <h3>Cursos</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4>Argentina Programa</h4>
                    <img src="assets/argenprog.jpg" alt="" id="argenprog">
                    <br>    
                    <br>
                    <div>
                       <p><strong>2021 - Cursando actualmente</strong></p> 
                    </div>
                </div>
                <div class="col">
                    <h4>Analisis de datos</h4>
                    <img src="../../../assets/trinidad.jpg" alt="" id="trinidad">
                    <br>    
                    <br>
                    <div>
                        <p><strong>2022 - Cursando actualmente</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>