<div style="color: #1b1b1b; padding: 15px; border: 2px solid #d8d8d8; border-radius: 6px;">
    <div>
        <h1>Experiencia laboral</h1>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Emprendimiento personal
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Desde Diciembre de 2019 a la fecha:</strong> Asesoramiento y manejo de redes sociales (FB,
                    Ig, Twitter, ect); elaboración y ejecución de pautas publicitarias; Posicionamiento SEO y SEM de
                    sitios o páginas web; elaboración de sitios o páginas web.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Concejal en el Municipio de Guaymallén
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Desde Noviembre 2017 a Noviembre 2019:</strong> Elaboración y presentación de proyectos de
                    ordenanzas, pedidos de informes y de declaración; Promover la participación social para el
                    mejoramiento comunitario del municipio; Cuidado del patrimonio cultural, económico y social del
                    municipio; Trabajo en conjunto con otros concejales para la aprobación de proyectos presentados para
                    la mejora de la calidad de vida en el municipio
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Funcionario público en la Honorable Cámara de Senadores de Mendoza
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Desde Diciembre 2015 a Noviembre 2017:</strong> Pro secretario de Bloque de senadores del
                    Frente de Izquierda; Trabajo de colaboración con el senador en armado de proyectos legislativos;
                    Relaciones públicas, manejo de agenda y elaboración de gacetillas de prensa; Tareas administrativas
                    y protocolares del bloque.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Emprendimiento personal
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Desde Abril 2014 a Diciembre 2015:</strong> Agencia publicitaria: manejo de redes sociales;
                    elaboración y ejecución de presupuestos para redes sociales y medios de
                    comunicación; realización audiovisual.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Barnesa SACI - Agente oficial en Mendoza
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Desde Junio 2013 a Abril 2014:</strong> Venta y promoción de insumos para fabricas de
                    embutidos y chacinados; Manejo de pedidos; Cobro a clientes; Control de stock.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Comunicaciones DR - Agente oficial Movistar
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Desde Enero 2013 a Junio 2013:</strong> Venta y promoción de teléfonos; Venta y promoción de
                    servicios de telefonía movil de Movistar; activaciones de líneas; Manejo de stand; Arqueo y cierre
                    de caja; Promociones y activaciones de la tarjeta bancarizadas (Banco Itau).
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    SENA SA - Agente oficial Nextel
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Desde Septiembre a Diciembre 2012:</strong> Ventas y promociones de teléfonos; Atención al
                    público; Cobros a clientes.
                </div>
            </div>
        </div>
    </div>
</div>