<div style="color: #1b1b1b; padding: 15px; border: 2px solid #d8d8d8; border-radius: 6px;">
    <div>
        <h1>Habilidades</h1>
    </div>
    <div>
        <h3>Developer Frontend</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="../../../assets/html-logo.png" alt="" id="logohtml">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="10" style="width: 75%"></div>
                    </div>
                </div>
                <div class="col">
                    <img src="../../../assets/css-logo.png" alt="" id="logocss">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="10" style="width: 60%"></div>
                    </div>
                </div>
                <div class="col">
                    <img src="../../../assets/js-logo.png" alt="" id="logojs">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="10" style="width: 50%"></div>
                    </div>
                </div>
                <div class="col">
                    <img src="../../../assets/angular-logo.png" alt="" id="logoangular">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="10" style="width: 65%"></div>
                    </div>
                </div>
                <div class="col">
                    <img src="../../../assets/typescript.png" alt="" id="logotypescript">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="10" style="width: 45%"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>