<div style="color: #1b1b1b; padding: 0px; border: 2px solid #d8d8d8; border-radius: 6px;">
    <div>
        <app-imagenfondo></app-imagenfondo>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            <div class="col">
                <img src="assets/perfil.jpg" alt="fotoperfil" class="img-fluid" id="fotoperfil">
            </div>
            <div class="col">
                <h2 id="nombre">Lucas Inostroza</h2>
                <p id="profesion">Full stack developer web</p>
            </div>
            <div class="col">
                <h1 id="acercademi">Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi maiores velit error quasi. Sint
                    consequatur doloribus velit harum officia aut dolor. Corrupti, nobis. Quam quidem nam impedit at
                    illo
                    voluptates?</p>
            </div>
        </div>
    </div>
</div>