<div>
    <a href="https://www.facebook.com/lucasdaniloinostroza"><img src="../../../assets/facebook.png" alt="facebook"></a>
    <a href="https://www.instagram.com/inostrozalucas/"><img src="../../../assets/instagram.png" alt="instagram"></a>
    <a href="https://github.com/InostrozaLucas/"><img src="../../../assets/github.png" alt="github"></a>
    <a href="https://www.linkedin.com/in/lucasinostroza/"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
    <a href="https://twitter.com/inostrozald"><img src="../../../assets/twitter.png" alt="twitter"></a>
</div>